<div class = "customul">
    <ul>
        <li><a href =><%= image_tag 'home-2-line.png' %>ホーム</a></li>
        <li><a href =><%= image_tag 'hashtag.png' %>話題を検索</a></li>
        <li><a href =><%= image_tag 'notification-line.png' %>通知</a></li>
        <li><a href =><%= image_tag 'mail-line.png' %>メッセージ</a></li>
        <li><a href =><%= image_tag 'bookmark-line.png' %>ブックマーク</a></li>
        <li><a href =><%= image_tag 'file-list-line.png' %>リスト</a></li>
        <li><a href =><%= image_tag 'profile-line.png' %>プロフィール</a></li>
        <li><a href =><%= image_tag 'more-line.png' %>もっと見る</a></li>
    </ul>
</div>


